:root {
  --main-dark: #1a1423;
  --secondary-dark: #372549;
  --main-light: #eacdc2;
  --secondary-light: #b75d69;
  --mid-color: #774c60;
  --shadow: rgb(243, 8, 227);
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto';
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: var(--main-dark);
  color: var(--main-light);
}

/* ---------------------------------------HEADER */
header {
  grid-row: 1 / 21;
  grid-column: 1 / 4;
  box-shadow: 50px 0 50px rgb(11, 9, 23);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  font-size: 5vw;
}

li {
  text-shadow: 1px 0px 3px var(--secondary-light);
  transition: all 0.5s ease-in-out;
}

li:hover {
  transform: scale(1.5);
  cursor: pointer;
  text-shadow: 2px 0px 3px var(--shadow);
}

/* ---------------------------------------MAIN */
main {
  grid-column: 4 / 13;
  grid-row: 1 /21;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------SECTIONS */
section {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  color: var(--main-dark);
  border-radius: 5px;
  background-color: var(--mid-color);
  border: 1px solid var(--secondary-dark);
  box-shadow: 8px 8px 6px var(--main-light);
  width: 0;
  padding: 2vw;
  transition: opacity 1.5s ease, color 2s ease, width 1.5s ease;
}

section.show {
  display: flex;
  opacity: 1;
  width: 40vw;
}

section div {
  background-color: var(--main-dark);
  color: var(--main-light);
  text-align: center;
  width: 80vw;
  height: 30vh;
  padding: 3vw;
  transition: opacity 1.5s ease, width 1.5s ease, height 1.5s ease;
}

section.div.show {
  display: flex;
  opacity: 1;
  width: 80vw;
  height: 30vh;
}

section div h1 {
  border-bottom: 1px solid var(--secondary-light);
}

@media screen and (min-width: 700px) {
  header {
    grid-column: 1 / 3;
    grid-row: 1 / 21;
  }

  main {
    grid-column: 3 / 13;
    grid-row: 1 /21;
  }
}
