* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

@font-face {
  font-family: 'BonaNovaSC';
  src: url('assets/fonts/BonaNovaSC-Regular.ttf');
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'BonaNovaSC';
}

header {
  background-color: aqua;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: clamp(25px, 5vh, 55px);
}

header ul {
  display: flex;
}

ul li {
  margin: 2vw;
  font-size: 2vw;
}

main {
  overflow-y: scroll;
  scroll-snap-type: mandatory;
}

section {
  background-color: blanchedalmond;
  margin: 5vh;
  height: 45vh;
}

footer {
  background-color: brown;
  width: 100%;
  height: 10vh;
}
