* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: aqua;
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  overflow-y: scroll;
  scroll-snap-type: mandatory;
}

section {
  background-color: blanchedalmond;
  margin: 5vh;
  height: 45vh;
}

footer {
  background-color: brown;
  width: 100%;
  height: 10vh;
}
